//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 28 16:01:20 2017
//! **************************************************************************

SCHEMATIC START;
TIMEGRP CLK = BEL "freg/res_3" BEL "freg/res_2" BEL "freg/res_1" BEL
        "freg/res_0" BEL "controller/state_FSM_FFd2" BEL
        "controller/state_FSM_FFd3" BEL "controller/state_FSM_FFd1" BEL
        "display_rgister/res_7" BEL "display_rgister/res_6" BEL
        "display_rgister/res_5" BEL "display_rgister/res_4" BEL
        "display_rgister/res_3" BEL "display_rgister/res_2" BEL
        "display_rgister/res_1" BEL "display_rgister/res_0" BEL
        "acc_register/res_7" BEL "acc_register/res_6" BEL "acc_register/res_5"
        BEL "acc_register/res_4" BEL "acc_register/res_3" BEL
        "acc_register/res_2" BEL "acc_register/res_1" BEL "acc_register/res_0"
        BEL "de_ex_register/res_7" BEL "de_ex_register/res_6" BEL
        "de_ex_register/res_5" BEL "de_ex_register/res_4" BEL
        "de_ex_register/res_3" BEL "de_ex_register/res_2" BEL
        "de_ex_register/res_1" BEL "de_ex_register/res_0" BEL
        "fe_register/res_7" BEL "fe_register/res_6" BEL "fe_register/res_5"
        BEL "fe_register/res_4" BEL "fe_register/res_3" BEL
        "fe_register/res_2" BEL "fe_register/res_1" BEL "fe_register/res_0"
        BEL "fe_de_register/res_11" BEL "fe_de_register/res_10" BEL
        "fe_de_register/res_9" BEL "fe_de_register/res_8" BEL
        "fe_de_register/res_6" BEL "fe_de_register/res_4" BEL
        "fe_de_register/res_3" BEL "fe_de_register/res_2" BEL
        "fe_de_register/res_1" BEL "fe_de_register/res_0" BEL "CLK_BUFGP/BUFG"
        BEL "fe_register/res_7_1" BEL "fe_register/res_6_1" BEL
        "fe_register/res_5_1" BEL "fe_register/res_4_1" BEL
        "fe_register/res_3_1" BEL "fe_register/res_2_1" BEL
        "fe_register/res_1_1" BEL "fe_register/res_0_1" BEL
        "fe_de_register/res_11_1" BEL "fe_de_register/res_10_1" BEL
        "fe_de_register/res_9_1" BEL "fe_de_register/res_8_1" BEL
        "fe_de_register/res_6_1" BEL "fe_de_register/res_6_2" BEL
        "fe_de_register/res_6_3" BEL "fe_de_register/res_4_1" BEL
        "fe_de_register/res_3_1" BEL "fe_de_register/res_2_1" BEL
        "fe_de_register/res_1_1" BEL "fe_de_register/res_0_1" BEL
        "de_ex_register/res_7_1" BEL "de_ex_register/res_6_1" BEL
        "de_ex_register/res_5_1" BEL "de_ex_register/res_4_1" BEL
        "de_ex_register/res_3_1" BEL "de_ex_register/res_2_1" BEL
        "de_ex_register/res_1_1" BEL "de_ex_register/res_0_1" BEL
        "acc_register/res_7_1" BEL "acc_register/res_6_1" BEL
        "acc_register/res_5_1" BEL "acc_register/res_4_1" BEL
        "acc_register/res_3_1" BEL "acc_register/res_2_1" BEL
        "acc_register/res_1_1" BEL "acc_register/res_0_1" BEL "freg/res_3_1"
        BEL "freg/res_2_1" BEL "freg/res_1_1" BEL "freg/res_0_1" BEL
        "instruction_memory/Mram_memory1/D" BEL
        "instruction_memory/Mram_memory1/C" BEL
        "instruction_memory/Mram_memory1/B" BEL
        "instruction_memory/Mram_memory1/A" BEL
        "instruction_memory/Mram_memory2/D" BEL
        "instruction_memory/Mram_memory2/C" BEL
        "instruction_memory/Mram_memory2/B" BEL
        "instruction_memory/Mram_memory2/A" BEL
        "instruction_memory/Mram_memory3/D" BEL
        "instruction_memory/Mram_memory3/C" BEL
        "instruction_memory/Mram_memory3/B" BEL
        "instruction_memory/Mram_memory3/A" BEL
        "instruction_memory/Mram_memory4/D" BEL
        "instruction_memory/Mram_memory4/C" BEL
        "instruction_memory/Mram_memory4/B" BEL
        "instruction_memory/Mram_memory4/A" BEL
        "instruction_memory/Mram_memory5/D" BEL
        "instruction_memory/Mram_memory5/C" BEL
        "instruction_memory/Mram_memory5/B" BEL
        "instruction_memory/Mram_memory5/A" BEL
        "instruction_memory/Mram_memory6/D" BEL
        "instruction_memory/Mram_memory6/C" BEL
        "instruction_memory/Mram_memory6/B" BEL
        "instruction_memory/Mram_memory6/A" BEL
        "instruction_memory/Mram_memory9/D" BEL
        "instruction_memory/Mram_memory9/C" BEL
        "instruction_memory/Mram_memory9/B" BEL
        "instruction_memory/Mram_memory9/A" BEL
        "instruction_memory/Mram_memory10/D" BEL
        "instruction_memory/Mram_memory10/C" BEL
        "instruction_memory/Mram_memory10/B" BEL
        "instruction_memory/Mram_memory10/A" BEL
        "instruction_memory/Mram_memory11/D" BEL
        "instruction_memory/Mram_memory11/C" BEL
        "instruction_memory/Mram_memory11/B" BEL
        "instruction_memory/Mram_memory11/A" BEL
        "instruction_memory/Mram_memory12/D" BEL
        "instruction_memory/Mram_memory12/C" BEL
        "instruction_memory/Mram_memory12/B" BEL
        "instruction_memory/Mram_memory12/A" BEL "data_memory/Mram_memory1/D"
        BEL "data_memory/Mram_memory1/C" BEL "data_memory/Mram_memory1/B" BEL
        "data_memory/Mram_memory1/A" BEL "data_memory/Mram_memory2/D" BEL
        "data_memory/Mram_memory2/C" BEL "data_memory/Mram_memory2/B" BEL
        "data_memory/Mram_memory2/A" BEL "data_memory/Mram_memory3/D" BEL
        "data_memory/Mram_memory3/C" BEL "data_memory/Mram_memory3/B" BEL
        "data_memory/Mram_memory3/A" BEL "data_memory/Mram_memory4/D" BEL
        "data_memory/Mram_memory4/C" BEL "data_memory/Mram_memory4/B" BEL
        "data_memory/Mram_memory4/A" BEL "data_memory/Mram_memory5/D" BEL
        "data_memory/Mram_memory5/C" BEL "data_memory/Mram_memory5/B" BEL
        "data_memory/Mram_memory5/A" BEL "data_memory/Mram_memory6/D" BEL
        "data_memory/Mram_memory6/C" BEL "data_memory/Mram_memory6/B" BEL
        "data_memory/Mram_memory6/A" BEL "data_memory/Mram_memory7/D" BEL
        "data_memory/Mram_memory7/C" BEL "data_memory/Mram_memory7/B" BEL
        "data_memory/Mram_memory7/A" BEL "data_memory/Mram_memory8/D" BEL
        "data_memory/Mram_memory8/C" BEL "data_memory/Mram_memory8/B" BEL
        "data_memory/Mram_memory8/A";
TS_CLK = PERIOD TIMEGRP "CLK" 10 ns HIGH 50%;
SCHEMATIC END;

