//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 14 14:23:29 2017
//! **************************************************************************

SCHEMATIC START;
COMP "DBG1<1>" LOCATE = SITE "M8" LEVEL 1;
COMP "SSEG_AN<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "SSEG_AN<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "SSEG_AN<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "DBG2<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "DBG2<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "SSEG_CA<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "SSEG_CA<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "ARESETN_RAW" LOCATE = SITE "T10" LEVEL 1;
COMP "SSEG_CA<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "SSEG_CA<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SSEG_CA<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "SSEG_CA<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "SSEG_CA<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SSEG_CA<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "LED1" LOCATE = SITE "U16" LEVEL 1;
COMP "LED2" LOCATE = SITE "V16" LEVEL 1;
COMP "LED3" LOCATE = SITE "U15" LEVEL 1;
COMP "CLK100MEG" LOCATE = SITE "V10" LEVEL 1;
COMP "CLK_MANUAL" LOCATE = SITE "T5" LEVEL 1;
COMP "DBG1<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "SSEG_AN<0>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

